# Extra baggage. Disable.
CONFIG_MODULE_SIG=n
CONFIG_MODULE_COMPRESS_NONE=y
CONFIG_X86_MCE=n # what machine?

# Compression is very slow in v86. Don't compress the kernel at all.
CONFIG_KERNEL_UNCOMPRESSED=y
CONFIG_KERNEL_GZIP=n
CONFIG_INITRAMFS_COMPRESSION_NONE=y

# Enable ext4.
CONFIG_EXT4_FS=y

# IDE+SCSI support maybe? For /dev/hda.
CONFIG_BLK_DEV_GENERIC=y
CONFIG_SCSI=y
CONFIG_SCSI_MOD=y

# Bare minimum NixOS requirements.
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_SHA=y
CONFIG_CRYPTO_SHA256=y
CONFIG_DMIID=y
CONFIG_AUTOFS=y
CONFIG_TMPFS_XATTR=y
CONFIG_SECCOMP=y
CONFIG_TMPFS=y
CONFIG_BINFMT_ELF=y
CONFIG_INOTIFY_USER=y
