:root {
  --adw-button-color: color-mix(in srgb, currentColor 10%, transparent);
  --adw-button-hover-color: color-mix(in srgb, currentColor 15%, transparent);
  --adw-button-active-color: color-mix(in srgb, currentColor 30%, transparent);
  --adw-button-checked-color: color-mix(in srgb, currentColor 30%, transparent);
  --adw-button-checked-hover-color: color-mix(in srgb, currentColor 35%, transparent);
  --adw-button-checked-active-color: color-mix(in srgb, currentColor 40%, transparent);

  --adw-opaque-button-default-bg: color-mix(
    in srgb,
    var(--window-bg-color) 85%,
    var(--window-fg-color)
  );

  --adw-destructive-button-color: color-mix(in srgb, currentColor 15%, transparent);
  --adw-destructive-button-hover-color: color-mix(in srgb, currentColor 20%, transparent);
  --adw-destructive-button-active-color: color-mix(in srgb, currentColor 35%, transparent);
  --adw-destructive-button-checked-color: color-mix(in srgb, currentColor 35%, transparent);
  --adw-destructive-button-checked-hover-color: color-mix(in srgb, currentColor 40%, transparent);
  --adw-destructive-button-checked-active-color: color-mix(in srgb, currentColor 45%, transparent);
}

button,
a[role="button"] {
  color: var(--adw-fg-color);
  border: none;
  cursor: pointer;
  box-sizing: border-box;

  text-decoration: none;
  transition: all 0.1s ease-in-out;
  background-color: var(--adw-button-colorr);

  &:hover {
    background-color: var(--adw-hover-color);
    text-decoration: none;
  }
}

a[role="button"] {
  &,
  &:hover {
    text-decoration: none;
  }
}
