@mixin card {
  background-color: var(--adw-card-bg-color);
  color: var(--adw-card-fg-color);
  border-radius: var(--adw-card-radius);
  box-shadow: 0 0 0 1px rgba(black, 0.03), 0 1px 3px 1px rgba(black, 0.07),
    0 2px 6px 2px rgba(black, 0.03);
  box-sizing: border-box;
}

.card {
  @include card;
}
